@font-face {
    font-family: Nunito;
    src: url(../../../assets/fonts/Nunito.ttf);
  }

.home-country {
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    @media only screen and (min-width : 1024px) {
            width: 700px;
        }
    h1 {
        color: #04838F;
        font-weight: 800;
        font-size: 3rem;
    }
    .home-country-counter {
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: white;
        padding: 0.5rem;
        background-color: #21bbc9;
        border-radius: 5px;
        h2 {
            font-size:medium;
            margin: 0;
        }
        p {
            margin: 0;
            color: black;
            font-weight: 600;
        }
    }
    .home-chart {
        -webkit-box-shadow: 9px 6px 8px 0px #949494; 
        box-shadow: 9px 6px 8px 0px #949494;
        border-radius: 5px;
        background-color: #fafafa;
        margin-top: 3rem;
        width: 100%;
        height: 400px;
    }
}